* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
header {
    background-color: rgb(255, 255, 255);
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 10px 12px;
}

.common-btn {
    background-color: rgb(40, 51, 209);
    padding: 12px 19px;
    border-radius: 15px;
    font-weight: bold;
    font-size:20px ;
    color: white;
    
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 15px;
    align-items: center;
}
ul li a {
    text-decoration: none;
}
ul li:hover {
    background-color: brown;
}

.container1 {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

.banner {
    background-image: url(./assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    background-color: black;
    
}
.top {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
    padding: 100px;
}
.art1 {
    color: white;
    margin: 80px;
    text-align: center;
}

.registerbtn {
    margin: 350px;
    margin-left: 590px;
}
.speak {
    font-size: 3rem;
    margin: 80px;
    margin-left: 430px;
}

.aboutcolumn {

display: grid;
gap: 70px;
grid-template-columns: repeat(2, 1fr);
text-align: center;
}

.aboutcolumn img{
    height: 100%;
    width: 70%;

}

.pose{
    text-align: left;
    gap: 40px;
    color: aqua;
    margin-left: 120px;
}

.sname{
    text-align: left;
    gap: 40px;
    margin-left:  120px;
    color: black;
} 

.areasp{
        text-align: left;
    gap: 40px;
    margin-left:  120px;
    color: gray;
}

.card{
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.2);
}